<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Products Management </title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-4.1.3.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/tether.min.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="~/css/persianDatepicker-default.css" rel="stylesheet" />
    <link href="~/css/Chosen/chosen.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <a href="#">Brand</a>
                    </div>
                </div>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand list-group-item list-group-item-action bg-light">Home</a></li>
                <li><a asp-area="" asp-controller="Products" asp-action="Index" class="navbar-brand list-group-item list-group-item-action bg-light">Products</a></li>
                <li><a asp-area="" asp-controller="Teams" asp-action="Index" class="navbar-brand list-group-item list-group-item-action bg-light">Teams</a></li>
                <li><a asp-area="" asp-controller="Members" asp-action="Index" class="navbar-brand list-group-item list-group-item-action bg-light">Members</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy" class="navbar-brand list-group-item list-group-item-action bg-light">Privacy</a></li>

            </ul>
        </nav></div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
   

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Products Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script src="~/js/jquery-1.10.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="~/js/chosen.jquery.min.js"></script>

    <script src="~/js/persianDatepicker.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html>