@using System.Security.Cryptography.X509Certificates
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@using Microsoft.AspNetCore.Mvc.Internal
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@model Fanap.Plus.Product_Management.Models.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Products</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
               
                <label asp-for="DeadlineDate" class="control-label"></label>
                <input  asp-for="DeadlineDate" class="form-control" id="DeadlineDateInput"/>
                <span  class="text-danger" id="DeadlineDateSpan"></span>

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductManagementName" class="control-label"></label>
                <input asp-for="ProductManagementName" class="form-control" />
                <span asp-validation-for="ProductManagementName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductOwnerName" class="control-label"></label>
                <input asp-for="ProductOwnerName" class="form-control" />
                <span asp-validation-for="ProductOwnerName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Teams" class="control-label"></label>

                @Html.ListBoxFor(Model => Model.TeamIds, new MultiSelectList(Model.Teams, "Id", "Name"),
                    new { id = "MultipleDropDown", multiple = "multiple" })
                @section Scripts{
                    <script>
                        $(function () { // wait until the DOM is ready
                            $("#MultipleDropDown").chosen({
                                width: "100%"
                            });
                            $("#Multiple-Member").chosen({
                                width: "100%"
                            });
                            $("#DeadlineDateInput, #DeadlineDateSpan").persianDatepicker();
                        });
                    </script>
                }

            </div>
            <div class="form-group">
                <label asp-for="Members" class="control-label"></label>
             
                @Html.ListBoxFor(Model => Model.MemberIds, new MultiSelectList(Model.Members, "Id", "FirstName"),

                    new { id = "Multiple-Member",multiple="multiple"})
                
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

